@import "tailwindcss";

@theme {
  --color-primary: oklch(77.7% 0.152 181.912);
}

@layer base {
  a {
  @apply hover:text-primary
}

h1 {
  @apply text-xl text-primary mt-4
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  @apply py-2
}
}