@import "tailwindcss";

@theme {
  --color-primary: oklch(77.7% 0.152 181.912);
}

h1 {
  @apply text-xl text-primary mt-4
}

h2 {
  @apply text-base text-primary mt-4
}

ol {
  @apply ml-4
}

@layer base {
  a {
  @apply hover:text-primary
}



html {
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  @apply py-2
}
}